# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
dist/
../.idea

# Jupyter
.ipynb_checkpoints/

# Envs / secrets
.env
.env.*
*.env

# Data (nie ładujemy pełbych danych, tylko małe próbki danych)
AutogluonModels/
!AutogluonModels/ag-20251119_185801/
data/*
!data/01_raw/
!data/02_interim/
!data/03_processed/
data/**/.gitkeep
data/**/README.md
!asi-airbnb/data/01_raw/sample.csv
asi-airbnb/data/01_raw/AB_NYC_2019.csv
wandb/
conf/local/credentials.yml

# jeśli ktoś pracuje na Macu
.DS_Store
Thumbs.db
